<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Connexion">
    <app-authentication-container
      style="padding-top: 16px; display: block"
    ></app-authentication-container>
  </mat-tab>
  <mat-tab label="Mes réservations">
    <app-bookings-calendar-container
      style="padding-top: 16px; display: block"
    ></app-bookings-calendar-container>
  </mat-tab>
  <mat-tab label="Réserver">
    <app-calendar-container
      style="padding-top: 16px; display: block"
    ></app-calendar-container>
  </mat-tab>
</mat-tab-group>
